
body{
    background-color: #d7a9fc;
}

hr {
    width: 50%;
    height: 5px;
    background-color: pink;
    border-color: palevioletred;
}

h3 {
    color:rgb(217, 117, 212);
}
s
#title1 {
    color: purple;
}

ol.topics>li {
    list-style-type: upper-alpha;
    color: red
}